html
    head
        title Login
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")

    body.container
        h2 Login
        p Please Login to Start your session
        form(method="POST").form-group
            label(for="username") Username
            input(type="text" name="username" placeholder="Username" )#username.form-control
            label(for="password") Password
            input(type="password" name="password" placeholder="Password")#password.form-control
            br
            input(type="submit" value="login").btn.btn-primary

        p Don't Have an Account?
        p Register
            a(href="/auth/register")  here
