html
    head
        title Register
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")

    body.container
        h2 Register
        p Please provide necessary information
        form(method="POST").form-group
            label(for="username") Username
            input(type="text" name="username" placeholder="Username" )#username.form-control
            label(for="password") Password
            input(type="password" name="password" placeholder="Password")#password.form-control
            label(for="email") Email
            input(type="text" name="email" placeholder="Username" )#email.form-control
            label(for="phone") Phone
            input(type="number" name="phone")#phone.form-control
            label(for="address") Address
            input(type="text" name="address" placeholder="Username" )#address.form-control
            label(for="name") Name
            input(type="text" name="name" placeholder="Password")#name.form-control

            br
            input(type="submit" value="register").btn.btn-primary

        p Already Registered?
        p back to
            a(href="/auth/login")  login
